body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 11pt;
  color: #3c4144;
}
#ev-wrapper {
  padding: 30px;
}
li.ev-list {
  list-style-image: url("../../images/Ballon1.png");
}
li.ev-list2 {
  margin-left: 50px;
  list-style: circle;
  list-style-image: url("../../images/Ballon2.png");
}
ul.ev-list {
  margin: 10px 10px;
  margin-left: 100px;
}
img.logo {
    border: 4px solid #FFFFFF;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}