h1.lastest-news-h1 {
  margin-left: 10px;
  font-size: 24pt;
}
ul.lastest-news-ul {

}
li.lastest-news-li {
  margin: 10px 0;
  list-style: none;
}
a.lastest-news-a {
  color: #394035;
}
a.lastest-news-a:hover {
  text-decoration: underline;
}
a.lastest-news-a-more {
  color: #394035;
}
a.lastest-news-a-more:hover {
  text-decoration: underline;
}
p.lastest-news-p {
  margin: 0;
  color: #394035;
  padding: 10px;
  text-align: left;
}
h3.lastest-news-span-title {
  margin: 0 10px;
  font-size: 10pt;
  vertical-align: baseline;
}
span.lastest-news-span-date {
  float: left;
  margin-left: 10px;
  color: #394035;

}
span.lastest-news-span-more {
  float: right;
  margin-right: 10px;
}
div.lastest-news-div-cb {
  clear: both;
  margin: 30px 0;
}