body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 11pt;
  color: #3c4144;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#contact {
  height: 609px;
  position: relative;
}
#sendmail {
  position: absolute;
  right: 20px;
  height: 20px;
  width:  519px;
  padding: 20px;
}
#form-contact-wrapper {
  width: 519px;
  background: #FFFFFF;
  padding: 20px;
  position: absolute;
  right: 20px;
  margin-top: 70px;
}
.contact-form-label {
  font: normal 13px/100% "Courier New", Courier, monospace;
}
.contact-form-input {
  color: #FFFFFF;
  width: 500px;
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  font-weight: bold;
  background: #63a9ff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.contact-form-input-area {
  color: #FFFFFF;
  width: 500px;
  height: 150px;
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  font-weight: bold;
  background: #63a9ff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px
}
input:hover, textarea:hover, input:focus, textarea:focus {
  border-color: #C9C9C9;
}
#form-submit {
  float: right;
  padding:5px 10px;
  border:1px solid;
  color: #FFFFFF;
  text-decoration:none;
  text-shadow:0 -1px 0 #9abdfd;
  background: #63a9ff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px
}
#form-submit:hover {
  border:1px solid #2e63a5;
  color:#fff;
  text-decoration:none;
  text-shadow:0 -1px 0 #2e63a5;
  background:#3570b8;
  background:-webkit-gradient(linear,center bottom,center top,from(#3570b8),to(#5e9ae2));
  background:-moz-linear-gradient(90deg,#3570b8,#5e9ae2);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3570b8',endColorstr='#5e9ae2');
}
#contact-form-ninia {
  float: left;
  position: absolute;
  bottom: 20px;
  left: 50px;
}
#text-contact {
  float: left;
}
img.facebook {
  margin-left: 80px;
  margin-top: -20px;
}
#datos {
  margin-left: 20px;
}