* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  border: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(../images/bg-color.jpg);
    background-repeat: repeat;
}
#con-pos {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
#container {
	width: 1440px;
	position: absolute;
	margin-left: -720px;
	left: 50%;
	top: 0;
	overflow: auto;
}
#top-bg {
    background-image: url(../images/top-bg.jpg);
    background-repeat: no-repeat;
    height: 168px;
    margin: 0 auto;
}
#header {
  background-image: url(../images/header.png);
  margin: 0 auto;
  width: 882px;
  height: 169px;
}
#menu-bg {
  background-image: url(../images/menu-bg.jpg);
  background-repeat: repeat-x;
  height: 47px;
  margin: 0 auto;
}
#content-bg {
    background-image: url(../images/content-bg.jpg);
    background-repeat: repeat-y;
    width: 1440px;
}
#left {
  float: left;
  height: 100%;
}
#right {
  float: right;
  height: 100%;
}
#left-bg {
    background-image: url(../images/left-bg.jpg);
    background-repeat: no-repeat;
    float: left;
    min-height: 679px;
    width: 271px;
}
#left-bg2 {
  background-image: url(../images/left-bg2.jpg);
  background-repeat: repeat-y;
  height: 100%;
  width: 271px;
  clear: both;
}
#center-bg {
    /*background: url(../images/center-bg-top.jpg) #EFFBE3 repeat-x top;*/
    background: url(../images/center-bg-top.jpg) #FFFFFF repeat-x top;
    float: left;
    min-height: 679px;
    width: 903px;
}
#right-bg {
    background-image: url(../images/right-bg.jpg);
    background-repeat: no-repeat;
    float: right;
    min-height: 679px;
    width: 266px;
}
#right-bg2 {
  background-image: url(../images/right-bg2.jpg);
  background-repeat: repeat-y;
  height: 100%;
  width: 266px;
  clear: both;
}
#footer-bg {

}
#left-bottom-bg {
    float: left;
    width: 208px;
    height: 27px;
}
#center-bottom-bg {
    background-image: url(../images/content-bottom2.jpg);
    background-repeat: no-repeat;
    float: left;
    height: 29px;
    width: 1440px;
    text-align: center;
}
#right-bottom-bg {
    float: left;
    width: 266px;
    height: 27px;
}
#footer-menu {
    clear: both;
    background-image: url(../images/footer.png);
    background-position: center;
    height: 523px;
    width: 1025px;
    margin-left: -512px;
    left: 50%;
    position: relative;
}
#footer {
  height: 95%;
}
#copyright {
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
  color: #191919;
}
a.copyright {
  text-align: center;
  font-family: sans-serif;
  font-size: 9px;
  color: #464646;
}
#leftSide {
  width: 709px;
  height: 100%;
  float: left;
}
#sideBar {
  width: 194px;
  height: inherit;
  float: left;
  background: #c5fd80;
}
#sidebar-News {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
}
.sidebar-NewsTitle {
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  padding-left: 15px;
  padding:10px 5px;
  width: 85%;
  font-weight: bold;
}
.sidebar-NewsContent {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 11px;
  padding-left: 15px;
  width: 85%;
}
.sidebar-NewsReadMore {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 10px;
  text-align: right;
  width: 85%;
}
a.sidebar-NewsReadMore {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 9px;
  text-align: right;
  width: 85%;
}
#banner-green-wrapper {
  float: left;
  width: 223px;
  margin: 0 5px 10px 10px;
  background: #52ca60;
  height: 300px;
}
#banner-red-wrapper {
  float: left;
  width: 223px;
  margin: 0 5px 10px 5px;
  background: #ca6b52;
  height: 300px;
}
#banner-purple-wrapper {
  float: left;
  width: 223px;
  margin: 0 5px 10px 5px;
  background: #7552ca;
  height: 300px;
}
#random-photo-wrapper {
  width: 689px;
  margin: 10px;
  background: #7552ca;
  height: 150px;
  clear: both;
}
#NewsWrapper {
  width: 843px;
  min-height: 100px;
  background: #c5fd80;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#NewsWrapper:hover {
  background: #FFFFFF;
}
.NewsTitle {
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  float: left;
}
h1.News {
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.NewsAuthor {
  color: #777777;
  font-size: 11px;
  font-family: arial,sans-serif;
  clear: both;
}
.NewsDate {
  color: #777777;
  font-size: 11px;
  font-family: arial,sans-serif;
  margin: 1px 1px;
  text-align: right;
  float: right;
}
.NewsContent {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  clear: both;
}
.NewsSeeComments {
  color: #777777;
  font-size: 12px;
  font-family: arial,sans-serif;
  text-align: right;
}
.NewsAddNew {
  color: #777777;
  font-size: 12px;
  font-family: arial,sans-serif;
  text-align: right;
  padding-right: 10px;
}