* {
/*  margin: 0px;
  padding: 0px;
  outline: 0px;
  border: none;*/
}

html, body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url(../images/bg-color.jpg);
  background-repeat: repeat;
  font-size: 11px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
}
#con-pos {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}
#container {
  width: 1440px;
  position: absolute;
  margin-left: -720px;
  left: 50%;
  top: 0;
  overflow: auto;
}
#top-bg {
  background-image: url(../images/top-bg.jpg);
  background-repeat: no-repeat;
  height: 168px;
  margin: 0 auto;
}
#header {
  background-image: url(../images/header.png);
  margin: 0 auto;
  width: 882px;
  height: 169px;
}
#menu-bg {
  background-image: url(../images/menu-bg.jpg);
  background-repeat: repeat-x;
  height: 47px;
  margin: 0 auto;
}
#content-bg {
  background-image: url(../images/content-bg.jpg);
  background-repeat: repeat-y;
  width: 1440px;
}
#left {
  float: left;
  height: 100%;
}
#right {
  float: right;
  height: 100%;
}
#left-bg {
  background-image: url(../images/left-bg.jpg);
  background-repeat: no-repeat;
  float: left;
  min-height: 679px;
  width: 271px;
}
#left-bg2 {
  background-image: url(../images/left-bg2.jpg);
  background-repeat: repeat-y;
  height: 100%;
  width: 271px;
  clear: both;
}
#center-bg {
  /*background: url(../images/center-bg-top.jpg) #EFFBE3 repeat-x top;*/
  background: url(../images/center-bg-top.jpg) #FFFFFF repeat-x top;
  float: left;
  min-height: 679px;
  width: 903px;
}
#right-bg {
  background-image: url(../images/right-bg.jpg);
  background-repeat: no-repeat;
  float: right;
  min-height: 679px;
  width: 266px;
}
#right-bg2 {
  background-image: url(../images/right-bg2.jpg);
  background-repeat: repeat-y;
  height: 100%;
  width: 266px;
  clear: both;
}
#footer-bg {

}
#left-bottom-bg {
  float: left;
  width: 208px;
  height: 27px;
}
#center-bottom-bg {
  background-image: url(../images/content-bottom2.jpg);
  background-repeat: no-repeat;
  float: left;
  height: 29px;
  width: 1440px;
  text-align: center;
}
#right-bottom-bg {
  float: left;
  width: 266px;
  height: 27px;
}
#footer-menu {
  clear: both;
  background-image: url(../images/footer.png);
  background-position: center;
  height: 523px;
  width: 1025px;
  margin-left: -512px;
  left: 50%;
  position: relative;
}
#footer {
  height: 95%;
}
#copyright {
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
  color: #191919;
}
a.copyright {
  text-align: center;
  font-family: sans-serif;
  font-size: 9px;
  color: #464646;
}
#leftSide {
  width: 709px;
  height: 100%;
  float: left;
}
#sideBar {
  width: 194px;
  height: inherit;
  float: left;
  background: #aafd78;
}
#sidebar-News {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
  margin: 0;
}
.sidebar-NewsTitle {
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  padding-left: 15px;
  padding:10px 5px;
  width: 85%;
  font-weight: bold;
  margin: 0;
}
.sidebar-NewsContent {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 11px;
  padding-left: 15px;
  width: 85%;
  margin: 0;
}
.sidebar-NewsReadMore {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 10px;
  text-align: right;
  width: 85%;
}
a.sidebar-NewsReadMore {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 9px;
  text-align: right;
  width: 85%;
}
#banner-green-wrapper {
  float: left;
  width: 223px;
  margin: 0 5px 10px 10px;
  background: #52ca60;
  height: 300px;
}
#banner-red-wrapper {
  float: left;
  width: 223px;
  margin: 0 5px 10px 5px;
  background: #ca6b52;
  height: 300px;
}
#banner-purple-wrapper {
  float: left;
  width: 223px;
  margin: 0 5px 10px 5px;
  background: #7552ca;
  height: 300px;
}
#random-photo-wrapper {
  width: 689px;
  margin: 10px;
  background: #7552ca;
  height: 150px;
  clear: both;
}
#NewsWrapper {
  width: 843px;
  min-height: 100px;
  background: #c5fd80;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
#NewsWrapper:hover {
  background: #F4FA77;
}
.NewsTitle {
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin: 0px;
}
p.News {
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
span.News {
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  font-weight: bold;
  margin-left: 20px;
}
.NewsAuthor {
  color: #777777;
  font-size: 11px;
  font-family: arial,sans-serif;
  clear: both;
}
.NewsDate {
  color: #777777;
  font-size: 11px;
  font-family: arial,sans-serif;
  margin: 1px 1px;
  text-align: right;
  float: right;
}
.NewsContent {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 12px;
  text-align: justify;
  clear: both;
}
.NewsSeeComments {
  color: #777777;
  font-size: 12px;
  font-family: arial,sans-serif;
  text-align: right;
}
a.NewsReadMore {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 11px;
}
a:hover{
  text-decoration: underline;
}
p.NewsReadMore {
  color: #3c4144;
  font-family: sans-serif;
  font-size: 11px;
  bottom: 0px;
  position: absolute;
  width: 843px;
  text-align: right;
}
.NewsAddNew {
  color: #777777;
  font-size: 12px;
  font-family: arial,sans-serif;
  text-align: right;
  padding-right: 10px;
}
#NewsComplete-wrapper {
  background: #c5fd80;
  width: 823px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 639px;
  padding: 20px;
  position: relative;
}

.NewsCompleteTitle {
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  font-weight: bold;
  float: left;
}

#NewsCompleteContent-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background: #f4fa77;
  clear: both;
  width: 783px;
}
#NewsCompleteContent {
  padding: 0 20px 0 ;
}
#NewsCompleteLinks-wrapper {
  background: #f4fa77;
  height: 35px;
  margin-top: 30px;
  width: 823px;
  bottom: 20px;
  position: absolute;
}
.NewsEditSubmit {
  background: #FFFFFF;
  width: 100px;
  height: 24px;
  border: 1px #777777 solid;
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
}
.NewsCompleteEditButton {
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  margin: 6px 0;
  padding-right: 5px;
  float: right;
}
.NewsCompleteEdit {
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  padding-right: 5px;
  float: right;
}
.NewsCompleteBack {
  color: #3c4144;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
  float: left;
}
#login-status-wrapper {
  width: 843px;
/*  padding: 5px;*/
  height: 16px;
  vertical-align: middle;
}
#login-wrapper {
  width: 903px;
  margin: 0 auto;
  padding: 10px;
  background: #7552ca;
  height: 24px;
  vertical-align: middle;
}
.inner {
  color: #FFFFFF;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: bold;
  margin: 0 20px 0 20px;
}
.login-form-title {
  color: #FFFFFF;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  margin:  0 20px;
  float: left;
}
.login-form-user {
  color: #FFFFFF;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: bold;
  margin: 0 20px 0 20px;
}
#login-error {
  width: 903px;
  margin: 0 auto;
  background: #ca6b52;
  position: absolute;
}
.login-form-error {
  color: #FFFFFF;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.form-login-submit{
  background: #FFFFFF;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  height: 22px;
  width: 100px;
  border: 1px #000000 solid;
  margin-left: 15px;
}
.login-username-input {
  background: #FFFFFF;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  height: 20px;
  width: 200px;
  border: 1px #000000 solid;
}
.login-password-input {
  background: #FFFFFF;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  height: 20px;
  width: 200px;
  border: 1px #000000 solid;
}
#login-box {
/*  width: 903px;*/
  margin: 0px auto;
  padding: 10px 0;
  background: #7552ca;
  height: 24px;
  vertical-align: middle;
  display: none;
}
#login-button {
  width: 41px;
  height: 41px;
  float: right;
  background: url(/images/login.png) top right no-repeat;
}
.post-title-input {
  background: #FFFFFF;
  font-size: 13px;
  color: #000000;
  height: 20px;
  border: 1px #CCCCCC solid;
}
#demo {
  text-align: center;
  background: darksalmon;
}
.demo {
  margin: 0;
}
#map_canvas{
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 5px #FFFFFF solid;
}